@using RCLUtilidades.Pages

@page "/"

<HomeComponent MensagemBody="Bem-vindo à App Blazor Web Utilidades! (Blazor)"/>

<!--Default-->
<!--
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
-->
