<h3> HomeComponent </h3>

<h4> @MensagemBody </h4>

@code {

    //Está no HomeComponent.razor.cs
    //[Parameter]
    //public String? MensagemBody { get; set; }
}


<!-- Exemplo de uso (Razor misturado com C#) -->
<!--


@if(Aluno.Idade < 18)
{
    <p>É adolescente</p>
}
else
{
    <p>É adulto</p>
}

@foreach(var aluno in alunos)
{
    <p>@aluno.Nome</p>
    <p>@aluno.Curso</p>
}
-->
